@import '@/uni_modules/vk-uview-ui/theme.scss';
@import '@/uni_modules/uni-scss/variables.scss';
$sg-main: #54baf8;
$sg-gray: #aeaeae;
$sg-error: #ff0000;

@mixin btn-primary {
  color: $sg-main;
  border-color: $sg-main;
}
